-# coding: utf-8

%fieldset
  %div
    =label_tag :name, caption: '名前'
    =f.text_field :name
    =label_tag :type, caption: '識別子'
    =f.text_field :slug
    =label_tag :remark, caption: '備考'
    =f.text_area :remark
  =f.submit pat(:save), :class => 'btn btn-primary'
  !=button_link 'cancel', url(:settings, :index)
