-# coding: utf-8

%h2="編集「#{@notebook.name}」"

-form_for :notebook, url(:notebooks, :update, screen_name: @notebook.account.screen_name, slug: @notebook.slug), :method=>:put do |f|
  =partial "notebooks/form", :locals => { :f => f }
