-# coding: utf-8

%fieldset
  %div
    -dataset.columns.each do |column|
      =label_tag '', caption: column.name
      =DataType.formlize(f, column.type, column.id)
  =f.submit pat(:save), :class => 'btn btn-primary'
  !=button_link 'cancel', url(:notebooks, :show, id: @notebook.id)
