-# coding: utf-8

.navbar
  .navbar-inner
    =link_to navigation[:brand][:title], navigation[:brand][:url], :class=>:brand
    %ul.nav
      -navigation[:navigations].each do |navigation|
        %li=link_to navigation[:title], navigation[:url]
