-# coding: utf-8

.span3.hidden-phone
  .well.sidebar-nav
    %ul.nav.nav-list
      -if logged_in?
        %li.nav-header Notebooks
        -@notebooks.each do |notebook|
          %li=link_to notebook.title, url(:notebooks, :show, :id=>notebook.id)
